* {
  font-family: "futura";
}

.body {
  font-family: "futura";
}

.footer-main {
  padding: 80px;
  background-color: #ffffff;
  color: #000;
  font-family: "futura";
}

.footer-sections {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.ableton-section {
  padding-top: 40px;
  font-size: 3rem;
  font-weight: bolder;
}

.ableton-section-h2 {
  font-family: "futura";
  font-size: 4rem; 
  font-weight: lighter;
}

.footer-sections-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 20px; 
}

.footer-sections-container .footer-section {
  margin-bottom: 20px;
}

.footer-section h2 {
  font-size: 1.5rem; 
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: normal;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 70px;
}

.footer-section ul li {
  margin-bottom: 5px;
  font-family: inherit;
}

.footer-section ul li a {
  color: #000000;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
  color: #ff8f1f;
}

.footer-section form {
  display: flex;
}

.footer-section form input[type="email"] {
  flex: 1;
  padding: 5px;
  margin-right: 0px;
  border: none;
  font-size: 1rem;
  font-weight: lighter;
  color: #2d2d2d;
  background-color: #EEEEEE;
}

.footer-section form button {
  padding: 10px 25px;
  background-color: #0000ff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: lighter;
}

.footer-section form button:hover {
  background-color: #0000cc;
}

.language-location {
  margin-top: 20px;
  
}

.language-location h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: normal;
  
}

.language-location ul {
  list-style-type: none;
  padding-top: 10px;
  display: flex; 
  gap: 5px; 
  border: none;
}

.language-location ul li {
  margin-bottom: 5px;
}

.language-location select {
  padding: 5px;
  padding-right: 60px;
  background-color: #EEEEEE;
  border: none;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.footer-bottom div {
  display: flex;
  flex-wrap: wrap;
}

.footer-bottom div a {
  margin-right: 15px;
  color: #000;
  text-decoration: none;
}

.footer-bottom div a:hover {
  text-decoration: underline;
  color: #ff8f1f;
}

.footer-made-in {
  text-align: right;
  margin-top: 5px;
  font-family: "futura";
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 10px;

}

.left-section {
  padding-top: 40px;
}